body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
p,
blockquote,
th,
td
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  color #414548
  font-weight 400
a
  text-decoration none
  color: #24292e
  &:hover {
    text-decoration none
  }
ul, ol
  list-style none
header,
footer,
article,
aside,
section,
nav,
menu
  display block
  box-sizing border-box
.clearfix::before,
.clearfix::after
  content: ''
  height: 0
  display: block
  visibility: hidden
  clear: both
body
  font-family "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
  font-size 15px
  background $stage-body-bgColor
