@media screen and (max-width: 1040px)
  #nav
    width 95%
  #content-inner
    width 95%
  #recent-posts,
  #pagination,
  #footer,
  #page,
  #tags,
  #category,
  #category-paginator,
  #archive,
  #tag-paginator,
  #tag-item,
  #archive-paginator
    width 100%
  #post
    width 74%
  #toc
    width 24%
  #content-aside
    width 252px
    height 100%
    background #fafafa
    box-shadow 1px -1px 1px rgba(0, 0, 0, 0.07)
    position fixed
    z-index 9
    left -252px
    top 0
    overflow-x hidden
    overflow-y scroll
    padding-top 47px
    padding-left 17px
    transition all 0.4s ease
    .content-aside-owner
      display none
    .content-aside-tags, .content-aside-about
      padding-left 14px
      padding-top 10px
      margin-bottom 0
      background none
      h2
        font-size 19px
    #categories
      background none
    #acchives
      background none
  #header
    .menu
      display block
