// https://github.com/chriskempson/tomorrow-theme
$highlight-current-line = #393939
$highlight-selection = #515151
$highlight-foreground = #cccccc
$highlight-comment = #999999
$highlight-red = #f2777a
$highlight-orange = #f99157
$highlight-yellow = #ffcc66
$highlight-green = #99cc99
$highlight-aqua = #66cccc
$highlight-blue = #6699cc
$highlight-purple = #cc99cc
$highlight-gutter       = {
    color: lighten($highlight-background, 50%),
    bg-color: darken($highlight-background, 100%)
  }
$code-font-family               = consolas "PingFang SC" "Microsoft YaHei"
$code-font-size                 = 14px
$code-border-radius             = 3px
$code-foreground                = #555
$code-background                = #eee