$highlight-background   = #1d1f21
$highlight-current-line = #282a2e
$highlight-selection    = #373b41
$highlight-foreground   = #c5c8c6
$highlight-comment      = #969896
$highlight-red          = #cc6666
$highlight-orange       = #de935f
$highlight-yellow       = #f0c674
$highlight-green        = #b5bd68
$highlight-aqua         = #8abeb7
$highlight-blue         = #81a2be
$highlight-purple       = #b294bb
$highlight-gutter       = {
    color: lighten($highlight-background, 50%),
    bg-color: darken($highlight-background, 100%)
  }
$code-font-family               = consolas "PingFang SC" "Microsoft YaHei"
$code-font-size                 = 13px
$code-font-size                 = 14px
$code-border-radius             = 3px
$code-foreground                = #555
$code-background                = #eee