<div class="clearfix">
    <%- partial('partials/recent-posts') %>
    <%- partial('partials/content-aside') %>
</div>
<nav id="pagination" class="clearfix">
    <%- paginator({prev_text: '&laquo; ' + __('prev'), next_text: __('next') + ' &raquo;'}) %>
</nav>
