.index-page {
    width: 100%;
    height: 100%;
}

.index-page .banner {
    overflow: hidden;
    white-space: nowrap;
    height: 100%
}

.index-page .banner:hover .slide1 {
    -webkit-transform: translate3d(-5%, 0, 0);
    -ms-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0)
}

.index-page .banner:hover .slide2 {
    -webkit-transform: translate3d(5%, 0, 0);
    -ms-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0)
}

.index-page .banner .slide {
    width: 80%;
    height: 100%;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 0;
    position: relative;
    transition: all .8s ease;
    text-align: center
}

.index-page .banner .slide .bg-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    -webkit-transform: skew(-5deg) translateZ(0);
    -ms-transform: skew(-5deg) translateZ(0);
    transform: skew(-5deg) translateZ(0)
}

.index-page .banner .slide .bg-wrapper .bg {
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    -webkit-transform: skew(5deg) translateZ(0);
    -ms-transform: skew(5deg) translateZ(0);
    transform: skew(5deg) translateZ(0)
}

.index-page .banner .slide .bg-wrapper .mask {
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
    background-color: black;
    opacity: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
    transition: opacity .8s
}

.index-page .banner .slide:hover .title {
    -webkit-transform: translate3d(0, -29px, 0);
    -ms-transform: translate3d(0, -29px, 0);
    transform: translate3d(0, -29px, 0)
}

.index-page .banner .slide:hover .description {
    opacity: 1;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=100)
}

.index-page .banner .slide:hover .bg-wrapper .mask {
    opacity: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0)
}

.index-page .banner .slide:hover .bg-wrapper .bg {
    -webkit-transform: skew(5deg) scale(1.1) translateZ(0);
    -ms-transform: skew(5deg) scale(1.1) translateZ(0);
    transform: skew(5deg) scale(1.1) translateZ(0)
}

.index-page .banner .slide:hover .content-wrapper {
    opacity: 1;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=100)
}

.index-page .banner .slide .content-wrapper {
    position: absolute;
    text-align: center;
    width: 62.5%;
    top: 0;
    bottom: 0;
    z-index: 50;
    transition: all .8s ease
}

.index-page .banner .slide1 {
    margin-left: -25%
}

.index-page .banner .slide1:hover {
    -webkit-transform: translate3d(5%, 0, 0);
    -ms-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0)
}

.index-page .banner .slide1:hover .content-wrapper {
    width: 75%
}

.index-page .banner .slide1:hover .bg {
    -webkit-transform: translate3d(-3%, 0, 0) skew(5deg);
    -ms-transform: translate3d(-3%, 0, 0) skew(5deg);
    transform: translate3d(-3%, 0, 0) skew(5deg)
}



.index-page .banner .slide2 .bg {
    margin-left: -20%;
}

.index-page .banner .slide2 .bg-wrapper {
    margin-left: -20px
}

.index-page .banner .slide2 .bg-wrapper .bg,
.index-page .banner .slide2 .bg-wrapper .mask {
    left: -10%
}

.index-page .banner .slide2 .content-wrapper {
    left: 0;
    margin-right: 30%\9
}

.index-page .banner .slide2:hover {
    -webkit-transform: translate3d(-5%, 0, 0);
    -ms-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0)
}


