#page
  width $stage-page-width
  background #fff
  padding 20px 17px
  box-shadow 0px 0px 1px rgba(0, 0, 0, 0.1)
  border-radius 1px
  margin-bottom 37px
  float left
  h1
    text-align center
    padding 17px 0