#page
  width $stage-page-width
  background #fff
  padding 20px 27px
  border-radius 1px
  margin-bottom 37px
  float left
  .page-content
    padding-bottom 37px
  h1
    text-align center
    padding 17px 0
  p
    line-height 2
