#acchives
  width $stage-aside-width
  background #fff
  border-radius 1px
  padding 10px 10px 20px 14px
  margin-bottom 14px
  h2
    font-size 19px
  ul li
    height 27px
    a
      display inline-block
      height 27px
      line-height 27px
      padding-top 7px
      margin-left 13px
      &:hover
        color $stage-theme-color
        border-bottom 1px dashed $stage-theme-color
