#acchives
  width $stage-aside-width
  background #fff
  border-radius 1px
  padding 10px 10px 14px 14px
  margin-bottom 47px
  h2
    font-size 19px
  .archive-list
    padding-top 7px
  ul li
    line-height 1.7
    a
      padding-top 7px
      margin-left 13px
      &:hover
        color $stage-theme-color
        border-bottom 1px dashed $stage-theme-color
