#categories
  width 200px
  background #fff
  border-radius 1px
  box-shadow 0 0 10px rgba(0, 0, 0, 0.1)
  padding 10px 10px 20px 14px
  margin-bottom 27px
  h2
    font-size 19px
  ul li
    height 27px
    a
      display inline-block
      height 27px
      line-height 27px
      padding-top 7px
      margin-left 13px
      &:hover
        color #41b883
        border-bottom 1px dashed #41b883
