#categories
  width $stage-aside-width
  background #fff
  border-radius 1px
  padding 10px 10px 14px 14px
  margin-bottom 14px
  h2
    font-size 19px
  .category-list
    padding-left 13px
    padding-top 7px
    li
      line-height 1.7
    .category-list-child
      list-style disc
      padding-left 17px
    a:hover
        color $stage-theme-color
        border-bottom 1px dashed $stage-theme-color
