#category
  width $stage-page-width
  background #fff
  padding 7px
  box-shadow 0px 0px 10px rgba(0, 0, 0, 0.1)
  border-radius 1px
  margin-bottom 37px
  float left
.category-item
  height 77px
  line-height 77px
  &:last-child {
    margin-bottom 37px
  }
  h3
    border-bottom 1px dashed #ccc
    a:hover {
      color: #41b883
    }
    time
      padding 0 17px 0 7px
#category-left-content
  width 200px
  float right