#content-aside
  width $stage-aside-width
  float right
.content-aside-tags,.content-aside-about
  background #fff
  margin-bottom 14px
  padding 10px
  border-radius 1px
  h2
    font-size 19px
    padding 0 4px
    a:hover
      color $stage-theme-color