#content-aside
  width 200px
  float right
.content-aside-tags,.content-aside-about
  background #fff
  margin-bottom 27px
  padding 10px
  border-radius 1px
  box-shadow 0 0 10px rgba(0, 0, 0, 0.1)
  h2
    font-size 19px
    padding 0 4px