header
  width 100%
  height 450px
  margin-bottom 30px
  .menu
    position absolute
    left 24px
    top 44px
    cursor pointer
    font-weight 400
    color #efefef
    font-size 27px
    display none
  .header-main {
    background $stage-theme-color
    height 435px
  }
  h1
    color #fff
    text-align center
    padding-top 31px
    font-weight 700
    font-size 35px
    a
      color #fff
  h4 {
    text-align center
    color #fff
    padding-top 7px
    font 400 16px/14px 'sans-serif'
  }
#nav
  width $stage-base-width
  height 350px
  background $stage-theme-color
  margin 0 auto
  margin-top -325px
  box-shadow 0 0 2px rgba(0, 0, 0, 0.7)
  .nav-img {
    height 300px
    width 100%
    overflow hidden
    cursor pointer
    background url("/images/default-header.jpg")
  }
  .sentences {
    width 100%
    text-align center
    line-height 50px
    font-size 19px
    color #fff
  }