#category, #tag-item, #archive
  width $stage-page-width
  background #fff
  padding 7px 27px
  border-radius 1px
  margin-bottom 37px
  float left
  position relative
  overflow hidden
  h1 {
    font-size 18px
    width 194px
    padding 2px 0;
    transform rotate(45deg)
    position absolute
    background $stage-theme-color
    color #fff
    right -43px
    top 40px
    text-align center
  }
.item
  height 77px
  line-height 77px
  border-bottom 1px dashed #e1e1e1
  overflow hidden
  &:last-child {
    margin-bottom 37px
  }
  h3
    a
      transition all 0.37s ease
      &:hover {
        color: $stage-theme-color
      }
    time
      padding 0 17px 0 7px