#owner
  width 200px
  height 200px
  position relative
  background #fff
  box-shadow 0 0 10px rgba(0, 0, 0, 0.5)
  margin-bottom 17px
  .avatar-bg
    width 100%
    height 150px
  .avatar
    width 110px
    height 110px
    border-radius 50%
    position absolute
    left 50%
    top 10px
    margin-left -55px
    box-shadow 0 0 10px #ccc
  .author
    width 100%
    position absolute
    text-align center
    top: 120px
    color #eee