#owner
  width $stage-aside-width
  height 210px
  position relative
  background #fff
  margin-bottom 14px
  .avatar-bg
    width 100%
    height 172px
  .avatar
    width 110px
    height 110px
    border-radius 50%
    position absolute
    left 50%
    top 8px
    margin-left -55px
    box-shadow 0 0 10px #ccc
  .author
    width 100%
    position absolute
    text-align center
    top: 125px
    color #fff
  h4
    position absolute
    top 146px
    width 100%
    text-align center
    color #fff
  .social
    text-align center
    height 45px
    a
      height 45px
      line-height 37px
      padding 0 3px
      font-size 24px
      &:hover
        color: #1fa67a