#pagination,#category-paginator,#archive-paginator,#tag-paginator
  width $stage-base-width
  margin 0 auto
  height 70px
  text-align center
  line-height 70px
  a,span {
    display inline-block
    width 30px
    height 30px
    text-align center
    line-height 30px
    margin 0 3px
    border-radius 2px
  }
  a:hover {
    background rgba(0, 0, 0, 0.3)
    color #ddd
  }
  a:first-child {
    width 66px
  }
  a:last-child {
    width 66px
  }
  .current {
    background $stage-theme-color
    color #fff
  }