#pagination
  width $stage-base-width
  margin 0 auto
  height 70px
  text-align center
  a,span {
    display inline-block
    width 30px
    height 30px
    text-align center
    line-height 30px
    margin 0 3px
    border-radius 2px
  }
  a:hover {
    background #ccc
  }
  a:first-child {
    width 55px
  }
  a:last-child {
    width 55px
  }
  .current {
    background #41b883
    color #fff
  }