#recent-posts
  width 70%
  margin 0 auto
.post-item
  height 270px
  margin-top 4px
  margin-bottom 34px
  background #fff
  box-shadow 0px 0px 10px rgba(0, 0, 0, 0.1)
  border-radius 1px
.post-img
  width 45%
  height 230px
  float left
  margin-top 20px
  margin-left 20px
  background url("http://sensing.gttxidc.com/images/timg.jpg")
.post-content
  width 51%
  padding 20px
  height 200px
  float right
  h3 {
    height 40px
    margin-top 10px
  }
  time {
    margin-bottom 10px
    display inline-block
  }
  p {
    line-height 24px
    padding-bottom 20px
  }
  >a {
    display inline-block
    width 100px
    height 30px
    font 400 16px/30px 'sans-serif'
    background #fff
    color #41b883
    border 1px solid #e8e8e8
    text-align center
    border-radius 1px
    &:hover {
      background #41b883
      color #fff
    }
  }
