#recent-posts
  width $stage-page-width
  background #fff
  border-radius 1px
  margin-bottom 37px
  float left
.post-item
  border-bottom 1px dashed #e1e1e1
  padding 10px 27px 27px
  img
    display block
    max-width 100%
    margin 7px auto
  &:last-child {
    margin-bottom 37px
  }
  .create
    padding-bottom 14px
    padding-left 4px
    time
      padding-right 17px
  .readmore
    margin-left 1px
    margin-top 17px
    font-weight 600
    a:hover
      color $stage-theme-color
  h1:first-child
    font-size 25px
    padding-bottom 7px
    font-weight 600
    border-bottom 0 none
    margin-top 0
    a
      transition color 0.37s ease
      color #414548
      &:hover {
        color: $stage-theme-color
      }
  time
    display inline-block
  .article-category-list li
    list-style none
    padding 0
  .article-category-list
    display inline-block
    padding-left 17px
    position relative
    margin-right 17px
    .article-category-list-child
      display inline-block
      padding-left 7px
    a:hover
      color $stage-theme-color
    &::before
      display inline-block
      content: ''
      width 11px
      height 11px
      background $stage-theme-color
      border-radius 50%
      position absolute
      left 0px
      top 7px
