#post
  width 70%
  margin 0 auto
  background #fff
  padding 27px
  .bottom-line
    width 100%
    border 1px dashed #ccc
    margin 17px 0
#article-nav
  height 70px
  a {
    color: #777
    &:hover {
      color #222
    }
  }
#article-nav-newer
  float right
#article-nav-older
  float: left