#tags
  width $stage-page-width
  background #fff
  float left
  padding 17px 0 27px
  h1
    text-align center
    height 70px
    line-height 70px
    font-size 30px
  .tagsList
    text-align center
    a {
      margin 7px
      padding 4px 7px
      display inline-block
      box-sizing border-box
      transition all 0.57s ease
      background none
      border-radius 1px
      &:hover {
        background #def
      }
    }