#tags
  width $stage-page-width
  background #fff
  float left
  padding 17px 0 27px
  h1
    text-align center
    height 70px
    line-height 70px
    font-size 30px
  .tagsList
    text-align center
    a {
      margin 0 10px
      padding 10px
      display inline-block
    }