<%
var acchivesList = list_archives({show_count: false})
%>
<aside id="acchives">
    <h2><%= __('archives') %></h2>
    <% if (acchivesList) { %>
    <%- acchivesList %>
    <% } else { %>
        <p>None.</p>
    <% } %>
</aside>
