<div id="content-aside">
    <div class="content-aside-owner">
        <%- partial('owner') %>
    </div>
    <div class="content-aside-about">
      <h2>
        <a href="/about">关于</a>
      </h2>
    </div>
    <div class="content-aside-tags">
        <h2>
            <a href="/tags">标签
              <sup style="font-size: 12px">
                [<%= site.tags.length %>]
              </sup>
            </a>
        </h2>
    </div>
    <%- partial('partials/categories') %>
    <%- partial('partials/archives') %>
</div>