<footer id="footer">
    <div id="copyright">&copy; <%= config.author %>  <%= new Date().getFullYear() %></div>
    <div id="theme">
        Powered by <a href="http://hexo.io">Hexo</a>. Theme by <a href="https://github.com/markyong/hexo-theme-stage">Stage</a>
    </div>
</footer>