<header id="header">
  <div class="header-main">
    <h1><a href="/"><%= config.title %></a></h1>
    <h4><%= config.subtitle %></h4>
  </div>
  <div id="nav">
    <div class="nav-img" id="nav-img"></div>
  </div>
</header>