<div id="tags">
    <h1><%= __('tagCloud') %></h1>
    <div class="tagsList">
        <% if(site.tags.length) { %>
            <%- tagcloud({mix_font: 14, max_font: 27}) %>
        <% } %>
    </div>
</div>
